@charset 'utf-8';

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
/html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
    background: url(../img/grid.png);
    font-family: Arial;
    font-size: 14px;
}

h3{
    text-align: center;
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;
    color: #4E4E4E;
}

header{
    margin-bottom: 10px;
}

#campos-feed{
    height: 650px;
    max-height: 650px !important;
}

#container {
	display: block;
	margin: 0 auto;
	width: 960px;
}

#foo{
    background-color: #154C7B;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#messages, #messagesModal {
    display: none;
}

#messages b {
    font-weight: bold;
}

.alert-danger{
    margin-bottom: 25px;
}

.banner{
    background: #2E509A url(../img/header.jpg)center top no-repeat;
    height: auto;
}

.barra-naranja{
    background: #FA7E02;
    min-height: 5px;
}

.bloques-en-linea{
    display: inline-block;
    vertical-align: middle;
}

.bloque-arbol{
    display: inline-block;
    font-size: 12px;
    min-height: 200px;
    max-height: 350px;
    overflow-x: auto;
    vertical-align: top;
    width: 100%;
}

.btn-padding{
    padding: 5px;
}

.btn-primary{
    background-image: none;
    background-color: #2155A1;
}

.btn-primary:hover{
    background-color: #316EE3;
}

.campo-hijo{
    display:none;
    margin-top: 8px;
    margin-left: 25px;
}

.datos-login{
    background: #EAEBED;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.datos-recuperar{
    background: #EAEBED;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.datos-recuperar p {
    padding: 0px 15px;
}

.error {
  display: block;
  font-size: 13px;
  margin: 5px 0;
  text-align: left;
  width: 100%;
}

.header-content{
    bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-logo{
    background: url(../img/logo_televisa.png)center center no-repeat;
    width: 130px;
    height: 90px;
    margin-bottom: 10px;
}

.header-titulo{
    color: #fff;
    font-size: 22px;
    margin-right: 25px;
    width: 300px;
}

.navbar-default{
    background-image: none;
    background: rgba(255,255,255,0.3);
    margin-bottom: 0px;
    border-bottom: 0px;
}

.navbar-default .navbar-brand{
    color:#fff;
}

.navbar-default .navbar-brand:hover{
    color:#fff;
}

.login{
    margin: 100px auto;
}

.principal{
    margin: 150px auto;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(33, 85, 161,.4);
}

.table > thead > tr > td.titulo-columna,
.table > tbody > tr > td.titulo-columna,
.table > tfoot > tr > td.titulo-columna,
.table > thead > tr > th.titulo-columna,
.table > tbody > tr > th.titulo-columna,
.table > tfoot > tr > th.titulo-columna,
.table > thead > tr.titulo-columna > td,
.table > tbody > tr.titulo-columna > td,
.table > tfoot > tr.titulo-columna > td,
.table > thead > tr.titulo-columna > th,
.table > tbody > tr.titulo-columna > th,
.table > tfoot > tr.titulo-columna > th{
    background: #2155A1;
}

.titulo-columna{
    color: #fff;
    font-size: 12px;
}
.usuarios .table-striped td,.trabajos .table-striped td,.categorias .table-striped td,.verticales .table-striped td{
    vertical-align: middle;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(33, 85, 161,.1);
}
.table-striped > tbody > tr:nth-child(2n):hover, .table-striped > tbody > tr:nth-child(2n+1):hover {
    background-color: rgba(100, 100, 100,.4);
}
.usuarios .panel-body,.usuarios .panel-primary{
    background-color: rgba(33, 85, 161,.1);
}
.trabajos .panel-body,.trabajos .panel-primary{
    background-color: rgba(33, 85, 161,.1);
}
.campos-feed{
    display: none;
}
.campos_rss{
    display: none;
}
.campos_jsonp{
    display: none;
}
.claves{
    text-align:right;
    background: none;
    border:none;
    box-shadow: none;
}

.form-trabajos-hora, .form-trabajos-label { 
    width:30% !important;
    display:inline-block !important;
}

.form-trabajos-date { 
    width:62% !important;
    display:inline-block !important;
}

.form-trabajos-date2{
    width:45% !important;
    display:inline-block !important;
}

.form-trabajos-dia { 
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #2E509A;
}

.success {
  display: block;
  font-size: 13px !important;
  margin: 10px 0;
  text-align: left;
  width: 100%;
}

.wrapper{
    color: #001533;
    margin: 30px auto 80px auto;
}

.wrapper h4{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: #2E509A;
}

.file-export i{
    font-size: 20px;
}

.fondo-naranja{
    background-color: #FA7E02;
    color: #ffffff;
}

.fondo-naranja:hover{
    background-color: #FA7E02 !important;
    color: #2155A1;
    text-decoration: underline !important;
}

.navbar-custom{
    border: none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.text-uppercase {
    text-transform: uppercase;
}

.blancos{
    color: #ffffff;
}

.blancos:hover{
    color: #ffffff;
}

.glyphicon-list-alt{
    font-size: 22px;
}

.petroleo {
    color: #001533;
}